@{
    Layout = null;
}
@using Tehas.Utils.DataBase.PagesDesc;
@model PageDescription

<!DOCTYPE HTML PUBLIC>
<html>
<head>
    <title>TEXAC</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="~/Content/images/texasmin.png" type="image/png">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <!--@Scripts.Render("~/bundles/fancybox")-->
    @Scripts.Render("~/bundles/jcarousellite")
    <!-- ГЛАВНЫЙ СЛАЙДЕР -->

    <script type="text/javascript">
        $(function () {
            $('#slidebox').jCarouselLite({
                vertical: false,
                hoverPause: true,
                btnPrev: ".previous",
                btnNext: ".next",
                visible: 1,
                start: 0,
                scroll: 1,
                circular: true,
                auto: 6000,
                speed: 900,
                btnGo:
				[".1", ".2",
				".3", ".4"],

                afterEnd: function (a, to, btnGo) {
                    if (btnGo.length <= to) {
                        to = 0;
                    }
                    $(".thumbActive").removeClass("thumbActive");
                    $(btnGo[to]).addClass("thumbActive");
                }
            });
        });
    </script>
    <script>

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-87614929-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
    <div class="container" id="container">
        <div id="slidebox">
            <div class="textinslider">
                <div class="logo">
                    <a href="/" id=""><img src="~/Content/images/logo.png" width="139"></a>
                </div>
                <div class="navigation">
                    <ol>
                        <div class="left">
                            <li><a href="/" id="">Главная</a></li>
                            <li><a href="/lazertag" id="">Лазертаг</a></li>
                            <li class="menu"><a href="/menu" id="">Меню/Доставка</a></li>
                        </div>
                        <div class="right">
                            <li class="sauna"><a href="/hotel" id="">Гостиница/Сауна</a></li>
                            <li><a href="/cafe" id="">Кафе/Банкетный зал/Караоке</a></li>
                            <li class="last"><a href="/cart" id="">Корзина</a></li>
                        </div>
                    </ol>
                </div>
                <div class="social">
                    <div class="divs"><a href="https://www.facebook.com/texacodessa/" class="fb" target="_blank"></a></div>
                    <div class="divs"><a href="https://www.youtube.com/channel/UCy0j1e7ZsOqN3gs4aBkJ0Mw" class="yt" target="_blank"></a></div>
                    <div class="divs"><a href="https://www.instagram.com/texacodessa/" class="insta" target="_blank"></a></div>
                    <div class="divs"><a href="https://vk.com/shtab_odessa" class="vk" target="_blank"></a></div>
                </div>
                <div class="textslide">
                    <div class="h2">
                        <h2>Центр отдыха и развлечений</h2>
                    </div>
                    <div class="h1">
                        <h1>ТЕХАС</h1>
                    </div>
                    <div class="h3">
                        <h2>Выбери своего героя</h2>
                    </div>
                    <div class="tel_number">
                        <a href="tel:+380503295858"><p>тел: 050 329 5858</p></a>
                        <a href="tel:+380487099330"><p>тел: 048 709 9330</p></a>
                    </div>
                    <div class="shtab">
                        <a href="http://shtab.biz.ua/" target="_blank"><img src="~/Content/images/shtab.png"></p></a>
                    </div>
                </div>

                <div class="streak">
                </div>
            </div>
            <div class="next"></div>
            <div class="previous"></div>
            <div class="thumbs">
                <a href="#" onclick="" class="1 thumbActive" id="a"></a>
                <a href="#" onclick="" class="2" id="b"></a>
                <a href="#" onclick="" class="3" id="c"></a>
                <a href="#" onclick="" class="4" id="d"></a>
            </div>
            <ul class="listofimg">
                @if (Model.Images != null)
                {
                    foreach (var image in Model.Images)
                    {
                        <li><img src="@Url.Content(image.Url+image.FileName)" width="1366px" height="653px"></li>

                    }
                }
            </ul>
        </div>
        <div class="advantages">
            <div class="h3"><h3>Почему именно <span>Техас</span><span class="vopros">?</span></h3></div>
            <div class="elements">
                <div class="element1">
                    <img src="~/Content/images/1element.png">
                    <h4>Отличная возможность отдохнуть</h4>
                    <p>Прекрасная возможность отдохнуть после рабочего дня, приятно провести вечер.</p>
                </div>
                <div class="element2">
                    <img src="~/Content/images/2element.png">
                    <h4>Приятная атмосфера</h4>
                    <p>Это легкая и непринужденная атмосфера</p>
                </div>
                <div class="element3">
                    <img src="~/Content/images/3element.png">
                    <h4>Прекрасный интерьер</h4>
                    <p>Высококлассный интерьер, сервис и уют</p>
                </div>
            </div>
            <div class="comments">
                <h3><a href="/comments">›› Отзывы о НАС! ‹‹</a></h3>
            </div>
        </div>
        <div class="about_us">
            <div class="text">
                <h3>@Model.Title</h3>
                <p>@Html.Raw(Model.Description)</p>
            </div>
            <div class="video_youtube">
                <iframe width="612" height="405" src="@Model.VideoURL" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="tel_number1">
            <a href="tel:+380503295858"><p>тел: 050 329 5858</p></a>
            <a href="tel:+380487099330"><p>тел: 048 709 9330</p></a>
        </div>
        <div class="footer">
            <div id="toTop"></div>
            <div class="logo2">
                <a href="/" id=""><img src="~/Content/images/logo.png" width="139"></a>
            </div>
            <div class="navigation">
                <ol>
                    <div class="left">
                        <li><a href="/" id="">Главная</a></li>
                        <li><a href="/lazertag" id="">Лазертаг</a></li>
                        <li class="menu"><a href="/menu" id="">Меню/Доставка</a></li>
                    </div>
                    <div class="right">
                        <li class="sauna"><a href="/hotel" id="">Гостиница/Сауна</a></li>
                        <li><a href="/cafe" id="">Кафе/Банкетный зал/Караоке</a></li>
                        <li class="last"><a href="/cart" id="">Корзина</a></li>
                    </div>
                </ol>
            </div>
            <div class="social">
                <div class="divs"><a href="https://www.facebook.com/texacodessa/" class="fb" target="_blank"></a></div>
                <div class="divs"><a href="https://www.youtube.com/channel/UCy0j1e7ZsOqN3gs4aBkJ0Mw" class="yt" target="_blank"></a></div>
                <div class="divs"><a href="https://www.instagram.com/texacodessa/" class="insta" target="_blank"></a></div>
                <div class="divs"><a href="https://vk.com/shtab_odessa" class="vk" target="_blank"></a></div>
            </div>
        </div>
    </div>
</body>
</html>