@using Tehas.Frontend.Models
@model EmailModel

@section Scripts {
    @Scripts.Render("~/bundles/addtocart")
    @Scripts.Render("~/Scripts/jqueryval")
@Scripts.Render("~/bundles/ajax")
    <script>

        $(".after_order").hide();

        function orderSuccess() {
            $(".after_order").show();
        }
    </script>
}
<div class="container" id="container">
    <div class="navigation_string">
        <div class="way">
            <a href="/">Главная</a>
            <pre> </pre>
            <p>></p>
            <pre> </pre>
            @Html.ActionLink("Корзина", "index", "cart")
        </div>
    </div>
</div>
<div class="information_topic">
    <div class="container" id="container">
        <div class="h2"><h2>Корзина</h2></div>
    </div>
    <div class="container" id="container">
        <div class="after_order"><h2>Ваша заявка будет обработана в ближайшее время. Спасибо за Ваш заказ!</h2></div>
    </div>
    <div class="container" id="container">
        <div class="list_of_prod">
            @if (!ViewBag.NoProducts || !ViewBag.NoGames)
            {
                <div id="list">
                    @Html.Partial("Partial/_cartList", new FullCartModel { Products = ViewBag.Products, Games = ViewBag.Games })
                </div>
                <div class="form_order">
                    @using (Ajax.BeginForm("Send", "Email", null, new AjaxOptions
                    {
                        UpdateTargetId = "application",
                        OnSuccess = "orderSuccess"
                    }, new { @Id = "application" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <h3>Имя</h3>
                            @Html.TextBoxFor(x => x.Name, new { @placeholder = "Введите Ваше имя", @id = "applicationName" })
                            <h5>@Html.ValidationMessageFor(model => model.Name)</h5>
                            
                            <h3>Телефон</h3>
                            @Html.TextBoxFor(x => x.Phone, new { @placeholder = "Введите Ваш телефон", @id = "applicationTelephone" })
                            <h5>@Html.ValidationMessageFor(model => model.Phone)</h5>

                            <h3>Комментарий к заказу</h3>
                            <p>@Html.TextAreaFor(x => x.Message, new { @placeholder = "Введите Ваше сообщение", @id = "applicationText", @rows = "5", @cols = "45" })</p>
                            <h5>@Html.ValidationMessageFor(model => model.Message)</h5>

                            <div class="checkbox">
                                @Html.RadioButtonFor(x => x.Type, "banket", new { @checked = "cheked" })
                                <label class="check" for="checkbox">Банкет</label>
                                @Html.RadioButtonFor(x => x.Type, "delivery")
                                <label class="check" for="checkbox">Доставка</label>
                            </div>
                            <button class="applicationButton" type="submit" form="application">Заказать</button>
                    }
                </div>

            }
            else
            {
                <div>Корзина пуста!</div>
            }
        </div>
    </div>
</div>
