@model Tehas.Frontend.Models.LoginModel
<style>
    .error {
        font-size:12px;
        color:red;
    }
</style>

@using (Ajax.BeginForm("Login", "Authorize", null, new AjaxOptions
{
    UpdateTargetId = "login",
    OnSuccess = "LoginOnComplete"
}, new { @id = "loginForm", @class = "login-form" }))

{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <label for="name">Email:</label>
    @Html.TextBoxFor(x => x.Login)
    <h5>@Html.ValidationMessageFor(model => model.Login, null, new { @class = "error" })</h5>
    <label for="username">Пароль:</label>
    @Html.PasswordFor(x => x.Password)
    <h5>@Html.ValidationMessageFor(model => model.Password, null, new { @class = "error" })</h5>

    <div id="lower">
        <input type="checkbox" name="IsSave"><label class="check" for="checkbox">Запомнить меня</label>
        <input type="submit" class="button confirm-button" value="Войти">
    </div>
}
