@using Tehas.Frontend.Models
@model MenuModel
@section Scripts {
    @Scripts.Render("~/bundles/lazyload")
    @Scripts.Render("~/bundles/addtocart")
}
<div class="container" id="container">
    <div class="navigation_string">
        <div class="way">
            <a href="/">Главная</a>
            <pre> </pre>
            <p>></p>
            <pre> </pre>
            @Html.ActionLink("Меню/Доставка", "index", "menu")
        </div>
    </div>
</div>
<div class="information_topic">
    <div class="container" id="container">
        <div class="h2"><h2>Меню(доставка)</h2></div>
    </div>
    <div class="banner2"></div>
    <div class="container" id="container">
        <div id="pagecontent">
            <div class="list_">
                <h2 class="tabset_label">Table of Contents</h2>
                <ul class="tabset_tabs">
                    @if (Model.Products != null && Model.Products.Count > 0 && !ViewBag.Main)                    
                    {
                        <li class="firstchild"><a href="/menu" class="1">Меню (Доставка)</a></li>
                    }
                    else
                    {
                        <li class="firstchild"><a href="/menu" class="preActive active">Меню (Доставка)</a></li>
                    }
                    @if (Model.Categories != null && Model.Categories.Count > 0)
                    {
                        var first = Model.Categories.FirstOrDefault(x => x.Id == 14);
                        if (first != null)
                        {
                            if (Model.Products != null && Model.Products.Count > 0 && first.Id == Model.Products.First().CategoryId && !ViewBag.Main)
                            {
                                <li><a class="preActive active" href="~/menu/products/@first.Id">@first.RussianName</a></li>
                            }
                            else
                            {
                                <li><a class="1" href="~/menu/products/@first.Id">@first.RussianName</a></li>
                            }
                        }
                        foreach (var cat in Model.Categories)
                        {
                            if (cat.Id != 14)
                            {
                                if (Model.Products != null && Model.Products.Count > 0 && cat.Id == Model.Products.First().CategoryId && !ViewBag.Main)
                                {
                                <li><a class="preActive active" href="~/menu/products/@cat.Id">@cat.RussianName</a></li>
                                }
                                else
                                {
                                <li><a class="1" href="~/menu/products/@cat.Id">@cat.RussianName</a></li>
                                }
                            }
                        }
                    }
                </ul>
            </div>
            @if (Model.Products != null && Model.Products.Count > 0)
            {
                <div id="adminka2" class="tabset_content tabset_content_active">
                    @if (ViewBag.Main)
                    {
                        <p class="description">@Html.Raw(Model.PageDescription.Description)</p>
                        <div id="data-container">
                            @Html.Partial("Menu/_listOfProducts", Model.Products);
                        </div>
                        <div id="button-more" onclick="lazyload(-1);">
                            <a>Показать еще</a>
                        </div>
                    }
                    else
                    {
                        <h2 class="tabset_label">Продажа</h2>
                        <div class="h23"><h2>@Model.Products.First().Category.RussianName</h2></div>
                        <div id="data-container">
                            @Html.Partial("Menu/_listOfProducts", Model.Products);
                        </div>
                        <div id="button-more" onclick="lazyload(@Model.Products.First().CategoryId);">
                            <a>Показать еще</a>
                        </div>
                    }  
                    <div id="loading-div"></div>
                </div>
            }
            else
            {
                <div id="adminka1" class="tabset_content tabset_content_active">
                    <p class="description">@Html.Raw(Model.PageDescription.Description)</p>
                </div>
            }
        </div>
    </div>
</div>
