<!DOCTYPE HTML PUBLIC>
<html>
<head>
    <title>TEXAC</title>
    <meta charset="utf-8">
    <!-- <link rel="shortcut icon" href="~/Content/images/rehousemin.jpg" type="image/jpg"> -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/fancybox")

    <script type="text/javascript">
        $(document).ready(function () {
            $("a.first").fancybox();
            $("a.two").fancybox();
            $("a.video").fancybox({ "frameWidth": 560, "frameHeight": 340 });
            $("a.content").fancybox({ "frameWidth": 600, "frameHeight": 300 });
        });
    </script>
</head>
<body>
    <div class="header">
        <div class="container" id="container">
            <!-- <div class="header"> -->
            <div class="logo">
                <a href="/" id=""><img src="~/Content/images/logo.png" width="139"></a>
            </div>
            <div class="navigation">
                <ol>
                    <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                    <li>@Html.ActionLink("Лазертаг", "index", "lazertag")</li>
                    <li>@Html.ActionLink("Меню(Доставка)", "index", "menu")</li>
                    <li class="sauna">@Html.ActionLink("Сауна", "index", "sauna")</li>
                    <li>@Html.ActionLink("Кафе//Банкетный зал//Караоке", "index", "cafe")</li>
                    <li>@Html.ActionLink("Гостиница", "index", "hotel")</li>
                    <li class="last">@Html.ActionLink("Корзина", "index", "cart")</li>
                </ol>
            </div>
        </div>
    </div>

    @RenderBody()


    <div class="footer">
        <div class="container" id="container">
            <div id="toTop"></div>
            <div class="logo2">
                <a href="/" id=""><img src="~/Content/images/logo.png" width="139"></a>
            </div>
            <div class="navigation">
                <ol>
                    <li>@Html.ActionLink("Главная", "index", "home")</li>
                    <li>@Html.ActionLink("Лазертаг", "index", "lazertag")</li>
                    <li>@Html.ActionLink("Меню(Доставка)", "index", "menu")</li>
                    <li class="sauna">@Html.ActionLink("Сауна", "index", "sauna")</li>
                    <li>@Html.ActionLink("Кафе//Банкетный зал//Караоке", "index", "cafe")</li>
                    <li>@Html.ActionLink("Гостиница", "index", "hotel")</li>
                    <li class="last">@Html.ActionLink("Корзина", "index", "cart")</li>
                </ol>
            </div>
            <div class="social">
                <div class="divs"><a href="#" class="fb"></a></div>
                <div class="divs"><a href="#" class="yt"></a></div>
                <div class="divs"><a href="#" class="gmail"></a></div>
                <div class="divs"><a href="#" class="vk"></a></div>
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)

</body>
</html>
