@using Tehas.Utils.DataBase.PagesDesc;
@model PageDescription[]
<div class="container" id="container">
    <div class="navigation_string">
        <div class="way">
            <a href="/">Главная</a>
            <pre> </pre>
            <p>></p>
            <pre> </pre>
            @Html.ActionLink("Лазертаг арена", "index", "lazertag")
        </div>
    </div>
</div>
<div class="information_topic">
    <div class="container" id="container">
        <div class="h2"><h2>Лазертаг Арена</h2></div>
    </div>
    <div class="banner"></div>
    <div class="container" id="container">
        <div class="h2"><h2>@Model[0].Title</h2></div>
        <p>@Model[0].Description</p>
    </div>
    <div class="container" id="container">
        <div class="gallery">
            <div class="h2"><h2>TEXAС</h2></div>
            @if (Model[0].Images != null && Model[0].Images.Count > 0)
            {
                <ul>
                    @foreach (var image in Model[0].Images)
                    {
                        <li><a class="two" rel="group" title="Лазертаг Арена" href="@Url.Content(image.Url+image.FileName)"><img src="@Url.Content(image.Url+image.FileName)" width="272" height="211" /></a></li>
                    }
                </ul>
            }
        </div>
        <div class="gallery">
            <div class="h2"><h2>ШТАБ</h2></div>
            @if (Model[1].Images != null && Model[1].Images.Count > 0)
            {
                <ul>
                    @foreach (var image in Model[1].Images)
                    {
                        <li><a class="two" rel="group" title="Лазертаг Арена" href="@Url.Content(image.Url+image.FileName)"><img src="@Url.Content(image.Url+image.FileName)" width="272" height="211" /></a></li>
                    }
                </ul>
            }
        </div>
        <div class="video_youtube1">
            <iframe width="872" height="522" src="@Model[0].VideoURL" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
