@using Tehas.Utils.DataBase.PagesDesc;
@model PageDescription[]
@section Scripts {
    @Scripts.Render("~/bundles/addtocart")
}
<div class="container" id="container">
    <div class="navigation_string">
        <div class="way">
            <a href="/">Главная</a>
            <pre> </pre>
            <p>></p>
            <pre> </pre>
            @Html.ActionLink("Лазертаг арена", "index", "lazertag")
        </div>
    </div>
</div>
<div class="information_topic">
    <div class="container" id="container">
        <div class="h2"><h2>Лазертаг Арена</h2></div>
    </div>
    <div class="banner"></div>
    <div class="container" id="container">
        <div class="h2"><h2>@Model[0].Title</h2></div>
        <p>@Model[0].Description</p>
    </div>
    <div class="container" id="container">
        <div class="gallery">
            <div class="to_do_order"><a onclick="showgamecart(1);">Заказать игру</a></div>
            <div class="appendix_lazertag" id="order_1">
                <div class="input_day"><p>Выберите дату: <input id="date_1" type="date" name="calendar"></p></div>
                <div class="input_time"><p>Количество часов: <input id="quantity_1" type="number" size="3" name="num" min="1" max="10" value="1"></p></div>
                <div class="min-cart"><p><a onclick="addgametocart(1);">Заказать</a></p></div>
                <div class="status" id="display_1"><p></p></div>
            </div>
            @if (Model[0].Images != null && Model[0].Images.Count > 0)
            {
                <ul>
                    @foreach (var image in Model[0].Images)
                    {
                        <li><a class="two" rel="group" title="Лазертаг Арена" href="@Url.Content(image.Url+image.FileName)"><img src="@Url.Content(image.Url+image.FileName)" width="272" height="211" /></a></li>
                    }
                </ul>
            }
        </div>
        <div class="container" id="container">
            <div class="h2"><a href="http://shtab.biz.ua/" target="_blank"><h2>@Model[1].Title</h2></a></div>
            <p>@Model[1].Description</p>
        </div>
        <div class="gallery">
            <div class="to_do_order"><a onclick="showgamecart(2);">Заказать игру</a></div>
            <div class="appendix_lazertag" id="order_2">
                <div class="input_day"><p>Выберите дату: <input id="date_2" type="date" name="calendar"></p></div>
                <div class="input_time"><p>Количество часов: <input id="quantity_2" type="number" size="3" name="num" min="1" max="10" value="1"></p></div>
                <div class="min-cart"><p><a onclick="addgametocart(2);">Заказать</a></p></div>
                <div class="status" id="display_2"><p></p></div>
            </div>
            @if (Model[1].Images != null && Model[1].Images.Count > 0)
            {
                <ul>
                    @foreach (var image in Model[1].Images)
                    {
                        <li><a class="two" rel="group" title="Лазертаг Арена" href="@Url.Content(image.Url+image.FileName)"><img src="@Url.Content(image.Url+image.FileName)" width="272" height="211" /></a></li>
                    }
                </ul>
            }
        </div>
        <div class="video_youtube1">
            <iframe width="872" height="522" src="@Model[0].VideoURL" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
